.CustomButton{
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #18161E;
  background: #18161E;
  border-radius: 6px;
  cursor: pointer;
}

.CustomButtonText{
  color: white;
  margin: 0px;
  font-weight: 600;
  font-size: 16px;
}

.CustomButton:disabled{
  opacity: 0.2;
  cursor: not-allowed;
}