.DashboardCardContainerHeader{
  padding: 16px;
}

.DashboardCardContainerTournaments{
  width: 100%;
  height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 16px;
}

.DashboardCardContainerTournamentsItem{
  width: 100%;
  height: 100%;
  padding: 16px;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.19);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.19);
  background: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.DashboardCardContainerTournamentsItem > p {
  font-size: 16px;
}


.UserIncluded{
  background: #8BC34A;
}

@media (max-width : 768px) {
  .DashboardCardContainerTournaments{
    display: flex;
    flex-direction: column;
  }
}